body {
    background: whitesmoke;
    font-size: 14pt;
}

button.btn-primary {
    width:100%;
    margin-top:10px;
}

.tasks {
    background: white;
}

.tasks > form {
    float: right;
    margin-left: 10px;
}

.container-lg > .row:first-child {
    margin-top:20px;
}

.row:nth-of-type(2) {
    margin-top:50px;
}

table {
    width: 100%;
}

table > thead > tr > th,
table > tbody > tr > td {
    padding: 10px;
}

table > tbody > tr > td:nth-of-type(3) {
    text-align: right;
}
